# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
# Dependencies
node_modules/
.expo/
.expo-shared/

# Build folders
dist/
web-build/

# Native Builds (If you ever use Prebuild)
android/
ios/

# Metro & Debug
.metro-health-check*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env*.local

# Editor
.vscode/
.idea/
*.jks
*.keystore
.DS_Store